 {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f8fb;
    color: #333;
    margin: 20px;
}

h2, h1 {
    color: #0052cc;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

h3 {
    color: #0073e6;
    margin: 15px 0;
    text-align: left;
    font-size: 20px;
}

label {
    font-weight: bold;
    color: #555;
    margin: 10px 0;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    background-color: #0052cc;
    color: white;
    padding: 8px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003d99;
}

#matrix-input-container, #matrix-inputs, #steps-output, #transformation-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 100%;
    max-width: 600px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

input[type="number"] {
    width: 60px;
}

#transformation-steps, #steps-output {
    background-color: #e8f0fe;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
}

.step h3 {
    font-size: 16px;
    color: #333;
}

.step {
    background-color: #f0f8ff;
    border: 1px solid #cce7ff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
}

.matrix {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.matrix div {
    display: flex;
    gap: 10px;
}

.matrix div span {
    display: inline-block;
    width: 40px;
    text-align: center;
}
